### Option 9 - Fraud Detection for Finance
For this project, import the dataset here, <br/>
https://www.kaggle.com/ntnu-testimon/banksim1

In [13]:
# (1) Import libraries
import pandas as pd
import numpy as np

In [3]:
# (2) Import data file(s)
# Use the SQL method from Spark to import the data as DataFrames. 
# See the reference code below. Also see the DataBricks Fraud Detection code as example.
# For basic exploration, you can also use Pandas.
# bs140513_032310.csv
# bsNET140513_032310.csv
!curl -O https://storage.googleapis.com/datascience-practice/bs140513_032310.csv.zip
!curl -O https://storage.googleapis.com/datascience-practice/bsNET140513_032310.csv.zip

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 7251k  100 7251k    0     0   502k      0  0:00:14  0:00:14 --:--:--  608k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 6139k  100 6139k    0     0   594k      0  0:00:10  0:00:10 --:--:--  661k

In [4]:
# (2.a) See the downloaded files
!ls

bs140513_032310.csv.zip    option-9-guide.ipynb
bsNET140513_032310.csv.zip

In [5]:
# (2.b) Unzip the files
!unzip bs140513_032310.csv.zip
!unzip bsNET140513_032310.csv.zip

Archive:  bs140513_032310.csv.zip
  inflating: bs140513_032310.csv
Archive:  bsNET140513_032310.csv.zip
  inflating: bsNET140513_032310.csv

In [50]:
# (2.c) Read transaction data into Pandas DataFrame
dft = pd.read_csv('bs140513_032310.csv')
# (2.d) Read network data into Pandas DataFrame
dff = pd.read_csv('bsNET140513_032310.csv')

# Note: the equivalent method for a PySpark DataFrame is
# df = spark.read.csv()

In [29]:
# (3) Explore data (for example, see what is categorial and numerical)
dft.head(3)

,step,customer,age,gender,zipcodeOri,merchant,zipMerchant,category,amount,fraud
0,0,'C1093826151','4','M','28007','M348934600','28007','es_transportation',4.55,0
1,0,'C352968107','2','M','28007','M348934600','28007','es_transportation',39.68,0
2,0,'C2054744914','4','F','28007','M1823072687','28007','es_transportation',26.89,0

In [59]:
# unique customers:
print(len( np.unique(dft[['customer']].values)))

4112

In [25]:
dft[['fraud']].value_counts()

fraud
0        587443
1          7200
dtype: int64

In [30]:
dff.head(3)

          Source         Target  Weight            typeTrans  fraud
0  'C1093826151'   'M348934600'    4.55  'es_transportation'      0
1   'C352968107'   'M348934600'   39.68  'es_transportation'      0
2  'C2054744914'  'M1823072687'   26.89  'es_transportation'      0

In [26]:
dff[['fraud']].value_counts()

fraud
0        587443
1          7200
dtype: int64

In [ ]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 594643 entries, 0 to 594642
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Source     594643 non-null  object
 1   Target     594643 non-null  object
 2   Weight     594643 non-null  float64
 3   typeTrans  594643 non-null  object
 4   fraud      594643 non-null  int64
dtypes: float64(1), int64(1), object(3)
memory usage: 22.7+ MB

In [31]:
dft.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 594643 entries, 0 to 594642
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   step         594643 non-null  int64
 1   customer     594643 non-null  object
 2   age          594643 non-null  object
 3   gender       594643 non-null  object
 4   zipcodeOri   594643 non-null  object
 5   merchant     594643 non-null  object
 6   zipMerchant  594643 non-null  object
 7   category     594643 non-null  object
 8   amount       594643 non-null  float64
 9   fraud        594643 non-null  int64
dtypes: float64(1), int64(2), object(7)
memory usage: 45.4+ MB

### The DFF dataset can be ignored as it is redundant to DFT

In [35]:
dft[['zipMerchant']].value_counts()

zipMerchant
'28007'        594643
dtype: int64

In [51]:
dft = dft.drop('zipMerchant', axis=1, inplace=False)

In [52]:
dft[['category']].value_counts()

category
'es_transportation'        505119
'es_food'                   26254
'es_health'                 16133
'es_wellnessandbeauty'      15086
'es_fashion'                 6454
'es_barsandrestaurants'      6373
'es_hyper'                   6098
'es_sportsandtoys'           4002
'es_tech'                    2370
'es_home'                    1986
'es_hotelservices'           1744
'es_otherservices'            912
'es_contents'                 885
'es_travel'                   728
'es_leisure'                  499
dtype: int64

In [58]:
dft[['gender']].value_counts()

gender
'F'       324565
'M'       268385
'E'         1178
'U'          515
dtype: int64

In [57]:
trans_fraud = dft[ dft['fraud'] == 1]
trans_fraud[['category']].value_counts()

category
'es_sportsandtoys'         1982
'es_health'                1696
'es_wellnessandbeauty'      718
'es_travel'                 578
'es_hotelservices'          548
'es_leisure'                474
'es_home'                   302
'es_hyper'                  280
'es_otherservices'          228
'es_tech'                   158
'es_barsandrestaurants'     120
'es_fashion'                116
dtype: int64

In [61]:
trans_fraud[['merchant']].value_counts()

merchant
'M480139044'     1634
'M980657600'     1472
'M732195782'      518
'M1198415165'     358
'M3697346'        290
'M855959430'      280
'M1888755466'     228
'M1873032707'     216
'M2122776122'     200
'M1741626453'     196
'M1294758098'     184
'M17379832'       178
'M1535107174'     174
'M2011752106'     166
'M840466850'      158
'M1649169323'     124
'M151143676'      120
'M547558035'      116
'M209847108'      106
'M923029380'      102
'M857378720'       92
'M1353266412'      64
'M50039827'        46
'M78078399'        44
'M2080407379'      36
'M1748431652'      36
'M495352832'       24
'M692898500'       16
'M933210764'       12
'M348875670'       10
dtype: int64

In [69]:
badBoyDf = dft[dft['merchant'] == 'M480139044']
badBoyDf.head()  # [['fraud']].value_counts()

Empty DataFrame
Columns: [step, customer, age, gender, zipcodeOri, merchant, category, amount, fraud]
Index: []

In [42]:
# (4) Choose the label and features
label = 'fraud'
features = dft.drop('fraud', axis=1, inplace=False).values

AttributeError: 'numpy.ndarray' object has no attribute 'drop'

In [44]:
dft[['age']].value_counts()

age
'2'    187310
'3'    147131
'4'    109025
'5'     62642
'1'     58131
'6'     26774
'0'      2452
'U'      1178
dtype: int64

In [ ]:
# (5) Feature engineer for data that is
# (a) relevant 
# (b) unique
# (c) correct 
# (d) not missing

# Drop data that is not a,b,c, or d
# Use one-hot encoding for nominal
# Reduce dimensions of your features

In [ ]:
# (6) Confirm data is ready with further exploratory analysis

In [ ]:
# (7) Training, Testing (and/or Validation) data split 

# for example, 60/20/20

In [ ]:
# (7.b) If using Deep Learning, building the model

# Add Input Layer
# Add Hidden Layers
# Add Output

In [ ]:
# (8) Training the Machine Learning Model (i.e, Fitting the Model)

In [ ]:
# (9) Evaluate the model metrics for Training (and/or Validation) data

In [ ]:
# (10) Evaluate the model metris for Testing data


# If metrics are poor, optimize either (a) the data, (b) the hyperpamaters

In [ ]:
# (11) Use the model for prediction

In [ ]:
# (12) Write final predicted data  (e.g, to CSV or JSON, etc.)